@import '../../styles/variables.scss';

.navbar {
  min-height: 84px;

  .navbar-brand {
    width: 228px;
    .navbar-item img {
      max-height: 2.75rem;
    }
  }
}

.employee-profile {
  figure {
    margin-right: 1em;

    img {
      max-height: 4rem;
    }

  }
}

.search-input {
  padding: 0 0.5em;
}

.search-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.navbar-search {
  color: $grey-light;

  &:hover {
    color: $black;
  }
}

.notification-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: inline-block;
  position: relative;

  .has-notification {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    right: 0px;
    top: 1px;
    border-radius: 1000px;
    background: $turquoise;
  }
}

.seperator {
  height: 40%;
  width: 1px;
  margin: 0 1em;
  background: $grey-light;
  align-self: center;
  display: flex;
}
