@import '../../styles/variables.scss';

.sproud-dashboard {
  small {
    font-size: 0.65em;
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

.budget-icon {
  svg {
    width: 0.75em;
    height: 0.75em;
    * {
      fill: $primary;
    }
  }
}

.carousel-arrows {
  display: inline-block;
  background-color: $primary;
  border-radius: 999px;
  color: $white;
  padding: .1em .3em;
  font-size: 1.4em;
  font-weight: 600;
  cursor: pointer;

  .prev-slide, .next-slide {
    padding: 0 .3em ;
  }
}

.disabled {
  opacity: .5;
}

.upcoming-date {
  color: $grey-light;
}

.year-filter span {
  padding: 0 .5em;
  cursor: pointer;

  &:last-of-type {
    padding-right: 0;
  }

  &.disabled {
    opacity: 1;
    color: $grey-light;
  }
}

.department-trainings {
  padding: 2em;
  max-width: 200px;
  margin-right: 2em;
  min-height: 200px;
  max-height: 200px;
  flex: 1;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  figure {
    margin: auto;
  }
}

.more-arrow {
  color: $primary;
  font-size: 18px;
}

.company-activity {
  .box {
    padding: .5rem 1.25rem
  }

  cursor: pointer;
}

.recommendation-item {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tile {
  flex-basis: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.is-vend {
  align-items: flex-end;
}
