@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import './styles/variables.scss';
@import './styles/lineIcons-pro-regular.scss';

@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/_all.sass';
@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/components/_all.sass';
@import '~bulma/sass/grid/_all.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/_all.sass';
@import '~@creativebulma/bulma-tooltip/src/sass/index.sass';

html {
  overflow: hidden;
}

.input {
  height: 3.5em;
  padding-bottom: calc(1em - 1px);
  padding-left: calc(1.25em - 1px);
  padding-right: calc(1.25em - 1px);
  padding-top: calc(1em - 1px);
}

.box {
  padding: 4.25em;
  box-shadow: none;
  border-radius: $radius*2;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.control .icon.is-dropdown-input.is-right {
  background: white;
  border-radius: 1000px;
  width: 2.5em;
  height: 2.5em;
  top: 0.5em;
  right: 0.5em;
  color: $grey-light;
}


.box.title-box {
  background: $input-background-color;
  padding: 1.25em 4.25em;

  * {
    color: $grey-light;
  }

  .sort-icon {
    position: relative;
    top: 1px;
    margin-left: 6px;

    svg {
      width: 0.85em;
      height: 0.85em;

      * {
        fill: $grey-light;
      }
    }
  }
}

.box.item-box {
  padding: 1.85em 4.25em;
}

.modal-content {
  overflow: initial;
}

.field.has-addons {
  .button {
    height: 3.5em;
  }
}

.navbar-item {
  cursor: pointer;
}

.navbar {
  .navbar-dropdown {
    .navbar-item {
      &:focus,
      &:hover {
        background-color: $navbar-dropdown-item-hover-background-color;
        color: $navbar-dropdown-item-hover-color;
      }
      &.is-active {
        background-color: $navbar-dropdown-item-active-background-color;
        color: $navbar-dropdown-item-active-color;
      }
    }
  }
}

.dropdown-item {
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: $navbar-dropdown-item-hover-background-color;
    color: $navbar-dropdown-item-hover-color;
  }
  &.is-active {
    background-color: $navbar-dropdown-item-active-background-color;
    color: $navbar-dropdown-item-active-color;
  }
}

.platform-win {
  .icon-text { line-height: 2em; }

  .title.is-2 {
    .icon-text { line-height: 1em; }
  }

  .title.is-5 {
    .icon-text { line-height: 1.5em; }
  }

  .notification-icon {
    top: -3px;
  }
}
